services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./tools/traefik.yml:/etc/traefik/traefik.yml
      - ~/ys_tools/acme.json:/letsencrypt/acme.json
    networks:
      - web
